<!DOCTYPE html>
<html>
  <head>
    <title>Miss R's Resources</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <h1>Miss Rachal's Student Resources</h1>
    <hr />
   <br /> 
  </head>

  <body>
    <div class="dropbown">
      <button type="button" class="btn btn-link">Game Design 1</button>
      <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="./resources/unit1.html">Unit 1</a>
        <a class="dropdown-item" href="#">Unit 2</a>
      </div>
    </div>  
    <div class="dropdown">
      <button type="button" class="btn btn-link">English 2B</button>
      <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
      </button>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="./resources/English/research.html">Research Paper</a>
          <a class="dropdown-item" href="#">Link 2</a>
      </div>
    </div>
    
    <%= yield %>
  </body>

<footer>
  <div class="table">
    <td></td>

    <td>
        <p>
          <h3>If you have questions contact me by email, phone, or sign up for a 1-1 session:</h3>
        </p>
    <td>    
      <p><a href="https://srachal.youcanbook.me/" class="contact-link"><h4>1-1 Sign up</h4></a> &nbsp; &nbsp;<a href="mailto:srachal@insightaz.org" class="contact-link"><h4>srachal@insightaz.org</h4>
        </a>
      </p>
    </td>

    <td></td>
  </div>
    

</footer>
</html>
