<!DOCTYPE html>
<html>
  <head>
    <title>Miss R's Resources</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <h1>Miss Rachal's Student Resources</h1>
    <hr />
   <br /> 
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-light">

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Game Design 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">English 2B</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li> -->
      </ul>

    </nav>
    
    <%= yield %>
  </body>

<footer>
  <div class="table">
    <td></td>

    <td>
        <p>
          <h3>If you have questions contact me by email, phone, or sign up for a 1-1 session:</h3>
        </p>
    <td>    
      <p><a href="https://srachal.youcanbook.me/" class="contact-link"><h4>1-1 Sign up</h4></a> &nbsp; &nbsp;<a href="mailto:srachal@insightaz.org" class="contact-link"><h4>srachal@insightaz.org</h4>
        </a>
      </p>
    </td>

    <td></td>
  </div>
    

</footer>
</html>
